### Example 1

In [168]:
import theano
import theano.tensor as tt

In [169]:
x = tt.dscalar('x')
y = tt.vector('y')

In [170]:
out = (x* y**2).sum()

In [171]:
f = theano.function([x,y], out)

In [172]:
x_val = 2
y_val = np.random.randn(2)

In [173]:
f(x_val,y_val)

array(4.62202201)

### Example 2

In [174]:
# We don't specify the dtype of our input variables, so it
# defaults to using float64 without any special config.
a = tt.dscalar('a')
x = tt.vector('x')
y = tt.vector('y')
# `tt.ivector` creates a symbolic vector of integers.
# y = tt.ivector('y')

In [175]:
inner = a * x**3 + y**2
out = tt.exp(inner).sum()

In [176]:
func = theano.function([a, x, y], out)

In [177]:
import numpy as np

In [178]:
a_val = 1.2
x_vals = np.random.randn(10)
y_vals = np.random.randn(10)

In [179]:
out = func(a_val, x_vals, y_vals)

In [180]:
out

array(17.94246589)

In [181]:
a = tt.vector('a')
if (a > 0).all():
    b = tt.sqrt(a)
else:
    b = -a

In [182]:
b

Elemwise{sqrt,no_inplace}.0

## equivalent to this:

In [183]:
a = tt.vector('a')
b = tt.sqrt(a)

In [184]:
b

Elemwise{sqrt,no_inplace}.0

## To get the desired behaviour, use tt.switch:

In [185]:
a = tt.vector('a')
b = tt.switch((a > 0).all(), tt.sqrt(a), -a)

In [186]:
b

Elemwise{switch,no_inplace}.0

In [187]:
a = tt.vector('a')
# Access the 10th element. This will fail when a function build
# from this expression is executed with an array that is too short.
b = a[10]

In [188]:
b

Subtensor{int64}.0

In [189]:
# Extract a subvector
b = a[[1, 2, 10]]

In [190]:
b

AdvancedSubtensor1.0

## Changing elements of an array is possible using tt.set_subtensor

In [191]:
a = tt.vector('a')
b = tt.set_subtensor(a[:10], 1)

# is roughly equivalent to this (although theano avoids
# the copy if `a` isn't used anymore)
a = np.random.randn(10)
b = a.copy()
b[:10] = 1

In [193]:
b

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

ref: http://deeplearning.net/software/theano/library/compile/function.html

ref: https://docs.pymc.io/theano.html